@import "tailwindcss";

body {
  @apply bg-[#0a0a0c] text-white antialiased;
  font-family: 'Inter', sans-serif;
}

.glass {
  @apply bg-white/5 backdrop-blur-md border border-white/10;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
